# Node (frontend)
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Python (backend)
backend/.env
backend/server/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
backend/api/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
backend/api/migrations
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
backend/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment files (DON’T leak secrets!)
*.env
.env.*

# Logs
*.log
logs/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

